#redes{
    position: fixed;
    z-index: 100000;
    top:300px;
    left:0;
}
#facebook a{
    color:white;
    background: blue;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.5s ease-out;
}
#facebook a:hover{
    background: black;
    padding: 10px 30px;
    transition: 0.5s ease-out;
}
#twitter a{
    background: skyblue;
    color: white;
    padding:10px 20px;
    text-decoration: none;
    transition: 0.5s ease-out;
}
#twitter a:hover{
    background: black;
    padding: 10px 30px;
    transition: 0.5s ease-out;
}
#instagram a{
    background: deeppink;
    color: white;
    padding:10px 20px;
    text-decoration: none;
    transition: 0.5s ease-out;
}
#instagram a:hover{
    background: black;
    padding: 10px 30px;
    transition: 0.5s ease-out;
}