.fondo-galeria{
    padding: 20px;
    background: url(../img/5183729.jpg);
}
.text-galeria{
    text-align: center;
    margin-bottom:10px ;
}
.galeria{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input[type=submit] {
    width: 200px;
    background: black;
    padding: 10px;
    color: white;
}
.galeria input{
 background: rgb(230, 118, 155);
 padding: 5px;
 width: 150px;
}
aside{
    width: 350px;
    margin-bottom: 10px;
    position: relative;
}
.img-aside{
    width: 70%;
    display: block;
}
.counter-aside{
    width: 70%;
}
/*Mediaqueris para Tablets*/
@media only screen and (max-width:980px){
    .galeria{
        width: 80%;
    }
}
/*Mediaqueris para Celulares*/
@media only screen and (max-width:480px){
    .galeria{
        width: 80%;
    }
    .contact{
        width: 80%;
    }
}