#menu,#check{
    display: none;
}
#check:checked ~ .botonera{
    left: 0;
    transition: 0.5s ease-out;
}
/*Mediaqueris para Tablets*/
@media only screen and (max-width:980px){
    #menu{
        display:block;
        float: right;
        font-size: 30px;
        color: white;
        margin: 10px;
    }
    .botonera{
        float:none;
        position: relative;
        left:-100%;
        transition: 0.5s ease-out;
    }
    .botonera ul{
        flex-direction:column ;
        position: absolute;
        top: 70px;
        width: 100%;
        background: black;
    }
}