*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body{
    font-family: tahoma;
}
header{
    width:100% ;
    height: 70px;
    background: darkblue;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
}
.container{
    width:80% ;
    margin: auto;
}
#logo{
    float: left;
}
.botonera{
    float:right;
}
.botonera ul{
    display: flex;
    list-style: none;
}
.botonera a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}
/*ESTILOS PARA EL BANNER*/
.banner{
    position: relative;
    background: url(../img/banner.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}
.cont-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100vh;
}
.cont-banner h1{
    text-align: center;
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
main{
    width: 80%;
    margin: 20px auto;
}
main h2{
    text-align: center;
    margin-bottom: 10px;
}
.img-responsive{
    width: 400px;
    max-width: 100%;
    display: block;
    margin: auto;
}
section{
    width: 80%;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    width: 350px;
}
article h2{
    margin-bottom: 10px;
    color: darkblue;
}
article img{
    width: 100%;
}
/*Estilos para el Banner*/
/*Mediaqueris para Tablets*/
@media only screen and (max-width:980px){
    .container{
    width: 90%;
    }
    .cont-banner,main,section{
        width: 90%;
    }
}
/*Mediaqueris para Celulares*/
@media only screen and (max-width:480px){
    .container{
    width: 98%;
    }
    .cont-banner,main,section{
        width: 98%;
    }
}




